// Hide Header/Page Title
.page-header {
    display: none;
}

.menu-cont {
    padding: 20px 0;
}
// Logo
.brand {
    img {
        position: relative;
        max-width: 350px;
        @media screen and (max-width: 768px) {
            padding: 0 20px;
            max-width: 80%;
        }
    }
}

// Banner Positioning
.banner {
    position: relative;
}

// Mobile Menu Overlay
.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blue;
    z-index: 99;
    display: none;
    .mobile-brand {
        position: relative;
        top: 60px;
        left: 0;
        img {
            max-width: 350px !important;
            width: 90% !important;
            left: auto !important;
            top: auto !important;
        }
        @media screen and (max-width: 768px) {
            top: 20px;
        }
    }
    .col-md-4 {
        &:last-child {
            margin-bottom: 20px;
        }
    }
}
// Mobile Burger Block
.block {
    background: mix($orange, #fff, 15%);
    display: inline-block;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 111;
    @media screen and (max-width: 768px) {
        top: 0px;
    }
}

/*
 * burger menu
 */


.burger_menu {
    position: relative;
    top: 200px;
    left: 0;
    .nav {
        display: block;
    }
    li {
        margin-right: 10px;
        @media screen and (max-width: 768px) {
            text-align: center;
            margin-right: 0px;
        }
        a {
            color: #fff;
            font-size: 50px;
            text-transform: uppercase;
        }
    }
    @media screen and (max-width: 768px) {
        top: 50px;
    }
}
.bt-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 55px;
    height: 40px;
    background: $orange;
    z-index: 999;
    &:after,
    &:before {
        content: "";
    }
  
    span,
    &::after,
    &::before {
        backface-visibility: hidden;
        position: absolute;
        left: 13px;
        right: 13px;
        border-top: 4px solid $white;
        transition: .2s;
        border-radius: 7px;
    }
  
    &::before {
        top: 10px;
    }

    span {
        top: 18px;
    }

    &::after {
        top: 26px;
    }

    &.active {
        background: none;
        &::before,
        &::after {
            top: 20px;
            backface-visibility: hidden;
            transition: .3s;
        }

        &::before {
            transform: rotate(45deg);
        }

        span {
            opacity: 0;
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

// Mobile Menu Link Styling
#menu-cf_v2 {
    li {
        a {
            font-family: 'Din Bold', Arial, sans-serif;
            display: block;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: $gold
            }
        }
    }
}

.mobile-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 40px 300px;
    color: #fff;
    margin: 0 auto;
    p {
        font-family: $l-font;
        font-size: 15px;
        strong {
            font-size: 18px;
            margin-right: 5px;
        }
    }
    @media screen and (max-width: 768px) {
        padding: 0px;
        text-align: center;
    }
}

// Sticky Nav Wheel
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1.7rem;
    padding-bottom: 1rem;
    z-index: 1030;
    .menu-cont {
        position: relative;
        top: -25px;
        .brand img {
            max-width: 80px;
            left: -80px;
            top: 10px;
            @media screen and (max-width: 768px) {
                left: 0;
                top: 0;
            }
        }
    }
}