// ***                    *** //
// **** Homepage Styling **** //
// ***                    *** //
.col-pic-row {
    margin-top: 70px;
    padding: 70px 0;
    transition: all 0.3s ease-in-out;
    @media screen and (max-width: 768px) {
        margin-top: auto;
        padding: inherit;
    }
    .col-md-6.text-col {
        min-height: 350px;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        transform: translateX(-200px);
        p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $blue;
            margin-bottom: 0px;
            font-size: 22px;
        }
    }
    .col-md-6.text-col.show {
        opacity: 1;
        transform: translateX(0px);
    }
    .col-md-6.picture-col {
        opacity: 0;
        transition: all 0.4s ease-in-out;
        transform: translateX(-100px);
    }
    .col-md-6.picture-col.show {
        opacity: 1;
        transform: translateX(0px);
    }
}

// Carousel Custom Styling
.carousel-indicators li {
    background-color: $orange;
}
.carousel-indicators .active {
    background-color: $blue;
}
.carousel-indicators {
    top: 50%;
    margin: auto;
    display: block;
    left: 102%;
}
#carouselExampleIndicators .carousel-indicators {
    .active {
        background-color: $blue;
    }
    li {
        background-color: transparent;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid $blue;
        margin-bottom: 10px;
    }
}
.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}
span.fa.fa-angle-right,
span.fa.fa-angle-left {
    position: absolute;
    background: $blue;
    padding: 0px 10px;
}
span.fa.fa-angle-left {
    left: 0;
}
span.fa.fa-angle-right {
    right: 0;
    margin-right: 0px;
}

// Gray Row
.gray-row {
    background: rgba(227,230,236, 0.5);
    color: $blue;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
    .container {
        .row {
            padding: 70px 0px;
            .col-md-1 {
                @media screen and (max-width: 768px) {
                    .loader {
                        position: relative;
                        display: block;
                        top: auto;
                        margin: 0 auto;
                        width: 100%;
                        transform: none;
                        left: auto;
                        width: 45px;
                    }
                    .circle {
                        display: block;
                    }
                }
            }
        }
    }
    h4 {
        padding-top: 10px;
        &:first-child {
            margin-bottom: 10px;
        }
    }
    p {
        font-family: $l-font;
        font-size: 14px;
    }
    svg {
        display: block;
        width: 50px;
        margin: 0 auto;
        margin-top: -10px;
    }
}

// Square Cube
$squarew: 10px;
$squareh: 10px;
$squaremargin: 5px;
$loaderw: $squarew * 3 + $squaremargin *2;
$loaderh: $squareh * 3 + $squaremargin *2;
$delayenter: 0.3s;
$topenter: -10px;

@mixin transition($value) {
    -webkit-transition: $value ;
    -moz-transition: $value ;
    transition: $value ;
}

@mixin delay( $delay ) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    animation-delay: $delay;
}
@-webkit-keyframes enter{
    0%   { 
        opacity: 0;
        top: $topenter;
    }
    5%   { 
        opacity: 1;
        top: 0px;
    }
    50.9% { 
        opacity: 1;
        top: 0px;
    }
    55.9% { 
        opacity: 0;
        top: - $topenter;
    }
    100% {
        opacity: 1;
    }
    
}
@keyframes enter{
    0%   { 
        opacity: 0;
        top: $topenter;
    }
    5%   { 
        opacity: 1;
        top: 0px;
    }
    50.9% { 
        opacity: 1;
        top: 0px;
    }
    55.9% { 
        opacity: 0;
        top: - $topenter;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes enter{
    0%   { 
        opacity: 0;
        top: $topenter;
    }
    5%   { 
        opacity: 1;
        top: 0px;
    }
    50.9% { 
        opacity: 1;
        top: 0px;
    }
    55.9% { 
        opacity: 0;
        top: - $topenter;
    }
    100% {
        opacity: 1;
    }
}

.loader{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 27px;
    margin-top: 20px;
}
.square{
    background: $white;
    width: $squarew;
    height: $squareh;
    float: left;
    top: $topenter;
    margin-right: $squaremargin;
    margin-top: $squaremargin;
    position:relative;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.square.show {
    opacity: 1;
    -webkit-animation: enter 6s 0s;
    animation: enter 6s 0s;
}
.enter{
    top: 0px;
    opacity: 1;
}
.square:nth-child(1){
  @include delay(6 * $delayenter);
}
.square:nth-child(2){
 @include delay(7 * $delayenter);
}
.square:nth-child(3){
  @include delay(8 * $delayenter);
  background: #fdc96f;
}
.square:nth-child(4){
  @include delay(3 * $delayenter);
}
.square:nth-child(5){
  @include delay(4 * $delayenter);
}
.square:nth-child(6){
  @include delay(5 * $delayenter);
}
.square:nth-child(7){
  }
.square:nth-child(8){
  @include delay(1 * $delayenter);
}
.square:nth-child(9){
  @include delay(2 * $delayenter);
}
.clear{
  clear: both;
 }
.last{
   margin-right:0;
}

// Graph 

.circle {
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
}

#graph {
    position: relative;
    z-index: 1;
    width: 55px;
    height: 45px;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
#graph.show {
    opacity: 1;
    div {
        &:nth-child(n+1) {
            animation: chartIt 2s 1 ease-in-out 0s;
            -webkit-animation: chartIt 2s 1 ease-in-out 0s;
        }
        &:nth-child(n+2) {
            animation: chartIt 2s 1 ease-in-out .25s;
            -webkit-animation: chartIt 2s 1 ease-in-out .25s;
        }
        &:nth-child(n+3){
            animation: chartIt 2s 1 ease-in-out .5s;
            -webkit-animation: chartIt 2s 1 ease-in-out .5s;
        }
        &:nth-child(n+4){
            animation: chartIt 2s 1 ease-in-out .75s;
            -webkit-animation: chartIt 2s 1 ease-in-out .75s;
        }
        &:nth-child(n+5){
            animation: chartIt 2s 1 ease-in-out 1s;
            -webkit-animation: chartIt 2s 1 ease-in-out 1s;
        }
        &:nth-child(n+6){
            animation: chartIt 2s 1 ease-in-out 1.25s;
            -webkit-animation: chartIt 2s 1 ease-in-out 1.25s;
        }
    }
}
#graph div {
    position: absolute;
    bottom: 0px;
    width: 5px;
    height: 10px;
    background: #fff;
}

#graph div:nth-child(n+1) {
    height:15px;
    left: 0px;
}

#graph div:nth-child(n+2) {
    height:25px;
    left: 10px;
}

#graph div:nth-child(n+3) {
    height:30px;
    left: 20px;
    
}

#graph div:nth-child(n+4) {
    height:28px;
    left: 30px;
    
}

#graph div:nth-child(n+5) {
    height: 37px;
    left: 40px;
    
}

#graph div:nth-child(n+6) {
    height:43px;
    left: 50px;
}

@keyframes chartIt {
  0% { max-height:60px; }
  50% { max-height:0px; }
  100% { max-height:60px; }
}

@-webkit-keyframes chartIt {
  0% { max-height:60px; }
  50% { max-height:0px; }
  100% { max-height:60px; }
}
// Ready to Talk Row
.ready-row {
    padding: 100px 0;
    transition: all 0.3s ease-in-out;
//    display: none;
    .talk-col {
        transition: all 0.4s ease-in-out;
        transform: translateX(-200px);
        opacity: 0;
    }
    .talk-col.show{
        opacity: 1;
        transform: translateX(0px);
    }
    .start-col {
        button {
            transition: all 0.4s ease-in;
            margin: 0 auto;
            display: block;
            position: relative;
            top: 30%;
            transform: translateX(-200px);
            opacity: 0;
        }
        button.orange-btn.show {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    h1 {
        font-family: $body-font;
        text-transform: none;
        font-weight: 700;
        color: $blue;
        margin-bottom: 15px;
    }
}


// Animate Rows
//.seen {
//    display: block;
//}


// ***                    *** //
// **** solutions homepage **** //
// ***                    *** //
.animated {
  animation-duration: .4s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 25%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}
.li-indented {
    list-style-type: none;
}
#solutions-wrapper {
    .signature-events-container {
        background-color: #EBEFF3;
    }
    .discover-intro-copy {
        max-width: 700px;
        margin: 0 auto;
        color: #073564;
    }
    .discover-row {
        padding-top: 60px;
        padding-bottom: 60px;
        border-bottom: 2px solid #efefef;
        h1 {
            margin-bottom: 40px;
        }
    }
    .consulting-row {
        padding-top: 100px;
        padding-bottom: 100px;
        @media screen and (max-width: 845px) {
            padding-bottom: 60px;
            padding-top: 60px;
            img {
                margin-bottom: 25px;
            }
        }
    }
    .sig-events-btn{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .signature-events-row {
        padding-top: 100px;
        padding-bottom: 60px;
        h1 {
            margin-bottom: 30px;
        }
        @media screen and (max-width: 845px) {
            padding-top:60px;
        }
    }
    .sig-intro-copy {
        max-width:720px;
        margin: 0 auto;
    }
    .sig-images-row {        
        max-width: 1140px;
        margin: 0 auto;
        padding-bottom: 80px;
        @media screen and (max-width:850px) {
            padding-bottom: 60px;
            img {
                margin: 0 auto;
                display: block;
                margin-bottom: 40px;
            }
        }

    
    }
    .market-digital{
        padding-top: 60px;
        @media screen and (max-width: 845px) {
            padding-top: 60px;
            img {
                margin-bottom: 25px;
            }
        }
    }
    .fund-cult, .events-exp {
        padding-top: 80px;
        @media screen and (max-width: 845px) {
            padding-top: 60px;
            img {
                margin-bottom: 25px;
            }
        }
    }
    .events-exp {
        padding-bottom: 20px;
    }
    .fund-cult, .events-exp, .market-digital, .consulting-row {
        h2 {
            margin-bottom:30px;
        }
        .btn {
            margin-top: 15px;
        }
    }
    .close-marketing-row, .close-fundraise-row, .close-events-row{
        width:100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        .close-marketing, .close-fundraise, .close-events {
            text-align: right;
            display: block;
            color: #E07C20;
        }        
    }
    .marketing-learn-more, .fundraise-learn-more, .events-learn-more {
        ul {
            padding-left: 20px;
            li {
            }
        }
    }

    .disp-none {
        display: none;
        animation-duration: .4s;
        animation-fill-mode: both;       
        
    }
    .marketing-slide-2, .marketing-slide-3, .marketing-slide-4, .marketing-slide-1, .consult-img-col, .consult-text-col, .fundraise-slide-2, .fundraise-slide-3, .fundraise-slide-4, .fundraise-slide-1, .events-slide-2, .events-slide-3, .events-slide-4, .events-slide-1,{
        opacity: 0;
    }

    // .marketing-slide-1 {
    //     opacity: 0;
    //     transform: translateY(200px);
    //     -webkit-transition: all 0.2s ease-in;
    //     -moz-transition: all 0.2s ease-in;
    //     -o-transition: all 0.2s ease-in;
    //     transition: all 0.2s ease-in;
    // }
    // .slide-anim-up {
    //     opacity:1;
    //     transform: translateY(0);
    //     -webkit-transition: all 0.2s ease-in;
    //     -moz-transition: all 0.2s ease-in;
    //     -o-transition: all 0.2s ease-in;
    //     transition: all 0.2s ease-in;
    // }
    .btn-orng-outline {
        background: #fff;
        color: #e27c00;
        padding: 15px 40px;
        border-radius: 0;
        text-transform: uppercase;
        font-family: Din Bold,Arial,sans-serif;
        border: 2px solid #e27c00;
        cursor: pointer;
        transition: all .2s ease-in-out;
        display: inline-block;
        margin-top:15px;
        &:hover, &:focus, &:active {
            color: #fff;
            background: #e27c00;
            text-decoration:none;
        }
    }

    
}


// ***                      *** //
// **** Contact Page Styling **** //
// ***                      *** //

#contact {
    .bg-img {
        background: url(/wp-content/uploads/2017/10/CF_Contact.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 200px;
        width: 100%;
    }
    .inner-container {
        padding: 0 50px;
        p, li {
            color: $blue;
        }
        p {
            font-family: $r-font;
            &:first-child {
                margin-bottom: 0px;
            }
            &:nth-child(2) {
                font-family: $l-font;
                margin-bottom: 0px;
            }
        }
        ul {
            margin-bottom: 30px;
        }
        li {
            font-family: $l-font;
        }
        input {
            width: 100%;
            height: 45px;
            margin-bottom: 20px;
            padding: 10px;
            background: #f0f2f5;
            border: none;
        }
        textarea {
            border-color: #ccc;
            width: 100%;
            max-height: 200px;
            min-height: 150px;
            margin-top: 0px;
            margin-bottom: 0px;
            height: 150px;
            padding: 10px;
            background: #f0f2f5;
            margin-bottom: 25px;
            border: none;
        }
        img {
            width: 100%;
        }
        .orange-btn {
            width: 100%;
            padding: 15px 40px;
            font-size: 20px;
        }
        .text-orange {
            font-family: $l-font;
            strong {
                font-family: $b-font;
            }
        }
        .row {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: auto;
            }
        }
    }
}

// ***                    *** //
// **** Our Work Styling **** //
// ***                    *** //
#our-work {
    .row {
        margin-top: 50px;
        margin-bottom: 50px;
        @media screen and (max-width: 768px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .row-01 {
        border-bottom: 2px solid #dadada;
        h4 {
            font-family: $body-font;
            text-transform: none;
            color: $blue;
        }
        .col-md-6 {
            padding: 50px;
            @media screen and (max-width: 768px) {
                padding: 20px;
            }
            &:nth-child(2) {
                p {
                    font-family: $l-font;
                    color: $blue;
                }
            }
        }
    }
    .row-02 {
        border-bottom: 2px solid #dadada;
        padding-bottom: 50px;
        .col-md-3 {
            cursor: pointer;
            -moz-cursor: pointer;
            -webkit-cursor: pointer;
        }
        .col-12 {
            h1 {
                text-align: center;
                margin-bottom: 30px;
            }
            p {
                font-family: $l-font;
                &:first-child {
                    margin-bottom: 50px;
                }
            }
        }
        .col-12.txt-col {
            .diabetes-txt,
            .afp-txt,
            .ccrf-txt {
                display: none;
            }
            p {
                margin-top: 20px;
            }
        }
        .text-cont {
            background: $blue;
            color: #fff;
            padding: 10px 20px;
            p {
                margin-bottom: 0px;
                font-family: $l-font;
                &:first-child {
                    font-family: $b-font;
                    font-size: 14px;
                }
                &:last-child {
                    font-size: 13px;
                }
            }
        }
        .orange-bg {
            background: $orange;
        }
        .hidden-txt {
            display: none;
        }
    }
    .row-03 {
        h2.text-orange.text-center {
            text-transform: none;
        }
        .col-12 {
            width: 100%;
            margin-bottom: 50px;
            img {
                width: 100%;
            }
            p {
                font-family: $l-font;
                color: $blue;
            }
        }
    }
    .row-04 {
        margin-bottom: 100px;
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
        .col-md-6 {
            padding: 50px;
            p {
                font-size: 18px;
            }
            &:first-child {
                background: url(/wp-content/uploads/2017/10/Ride_SubHero2.jpg);
                background-position: center center;
                background-size: cover;
                min-height: 300px;
            }
            &:last-child {
                box-shadow: 0px 0px 20px #dadada;
                position: relative;
                bottom: -40px;
                left: -40px;
                z-index: -1;
                @media screen and (max-width: 768px) {
                    bottom: auto;
                    left: auto;
                    z-index: auto;
                    margin-top: 1px;
                }
                p {
                    position: absolute;
                    top: 45%;
                    left: 45%;
                    transform: translate(-40%, -40%);
                    @media screen and (max-width: 768px) {
                        position: relative;
                        top: auto;
                        left: auto;
                        transform: none;
                        padding: 20px;
                    }
                }
            }
        }  
    }
}
#our-gray-row {
    .gray-row {
        padding: 50px 20px;
        h1 {
            font-family: $body-font;
            text-align: center;
            text-transform: none;
            margin-bottom: 40px;
        }
        .orange-btn {
            padding: 15px 40px;
            display: block;
            margin: 0 auto;
        }
    }
}

// ***                 *** //
// **** About Styling **** //
// ***                 *** //

#about {
    .row {
        margin-bottom: 50px;
        &:nth-child(n+2) {
            margin-top: 50px;
        }
    }
    .row-01{}
    .row-02{
        margin-bottom: 0px;
        p {
            font-family: $l-font;
            color: $blue;
        }
        p.text-orange {
            font-size: 18px;
            font-family: $l-font;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        hr {
            border-top: 2px solid $blue;
        }
    }
    .row-03{
        p {
            font-family: $l-font;
        }
        h1 {
            margin-bottom: 40px;
        }
    }
    .row-04{
        .col-md-3 {
            margin-bottom: 40px;
            img {
                margin-bottom: 20px;
                cursor: pointer;
                -webkit-cursor: pointer;
                @media screen and (max-width: 768px) {
                    margin-bottom: auto;
                }
            }
        }
        p {
            font-family: $l-font;
            font-size: 14px;
        }
        a {
            font-family: $b-font;
            text-transform: uppercase;
        }
        @media screen and (max-width: 768px) {
            img {
                display: block;
                margin: 0 auto;
            }
            p {
                text-align: center;
            }
            a {
                display: block;
                margin-top: -10px;
                text-align: center;
            }
        }
    }
    hr {
        border-top: 2px solid $blue;
    }
    .row-05 {
        h1 {
            color: $blue;
            text-align: center;
            margin-bottom: 40px;
        }
    }
}
#about-gray-row {
    background: $gray;
    .row {
        padding: 50px 0;
    }
    h1 {
        margin-bottom: 40px;
    }
    p {
        font-family: $b-font;
        text-transform: uppercase;
        margin-top: 10px;
    }
    .col-md-4 {
        margin-bottom: 40px;
    }
}
// About Modal Window Styling
.fade.show {
    background: rgba(0,55,100,0.7);
}
#aboutModal {
    button.fa.fa-times-circle {
        background: none;
        border: 0px;
        position: absolute;
        color: orange;
        right: -25px;
        top: -10px;
        z-index: 99;
        cursor: pointer;
    }
    i.fa.fa-plus-circle {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 60px;
        font-size: 35px;
        color: #fed201;
        display: none;
        text-shadow: 0px 0px 15px #000; 
    }
    .modal {
        display: none;
        overflow: auto;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }
    .modal-header {
        background: #fed201;
        color: #000;
        min-height: 60px !important;
    }
    .modal-title {
        width: 100%;
        text-align: center;
    }
    .modal.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }
    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .modal-content {
        position: relative;
        background-color: #ffffff;
        border: 1px solid #999999;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        background-clip: padding-box;
        outline: none;
        margin: 0 auto;
        max-height: 500px;
        border-radius: 0px;
        @media screen and (max-width: 768px) {
            max-height: none;
        }
    }
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -400px) !important;
        max-width: 600px;
        @media screen and (max-width: 768px) {
            width: 100%;
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 10px;
            transform: none !important;
        }
    }
    .modal-backdrop {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000000;
    }
    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .modal-backdrop.in {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 16.42857143px;
    }
    .modal-header .close {
        position: absolute;
        right: -20px;
        top: -10px;
    }
    .modal-title {
        margin: 0;
        line-height: 1.42857143;
    }
    .modal-body {
        position: relative;
        padding: 20px;
        overflow: hidden;
        img {
            display: block;
            margin: 0 auto;
        }
        svg {
            width: 53%;
            display: block;
            margin: 0 auto;
            .blueFill {
                transition: all 0.2s ease-in-out;
            }
            &:hover {
                .blueFill {
                    fill: $blue;
                }
            }
        }
    }
    .modal-footer {
        margin-top: 15px;
        padding: 19px 20px 20px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    .modal-footer .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0;
    }
    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }
    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }
    .about-bio {
        max-height: 325px;
        overflow-y: scroll;
        font-family: $l-font;
        color: $blue;
        font-size: 14px;
        padding: 0 10px;
    }
    .about-name {
        color: $blue;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .about-title {
        color: $orange;
        font-family: $l-font;
        font-size: 14px;
    }
    .social-container {
        .row {
            margin-top: 20px;
            padding: 0 20px;
            .fa {
                color: #dadada;
                &:hover {
                    color: $blue;
                }
            }
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
            .col-md-3 {
                width: 25%;
            }
        }
    }
    .img-border {
        width: 50%;
        border-top: 8px solid #e48722;
        position: relative;
        top: -4px;
        @media screen and (max-width: 768px) {
            width: 140px;
            left: -60px;
            display: block;
            margin: 0 auto;
        }
    }
}

// ***                      *** //
// **** Press Page Styling **** //
// ***                      *** //
#press {
    .row {
        margin-top: 50px;
        margin-bottom: 150px;
    }
    .row-01 {
        .col-md-6 {
            h3 {
                color: $blue;
                margin-bottom: 20px;
            }
            p {
                font-family: $l-font;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            &:first-child {
                box-shadow: 0 0 20px #dadada;
                padding: 40px;
            }
            &:last-child {
                background: url(/wp-content/themes/cf_v2/assets/images/col_img.jpg);
                background-position: center center;
                background-size: cover;
                min-height: 300px;
                position: relative;
                left: -20px;
                top: 20px;
                @media screen and (max-width: 768px) {
                    left: auto;
                    top: auto;
                }
            }
        }
    }
}
#press-blue-bg {
    position: relative;
    background: $blue;
    padding: 50px 0;
    .blue-border {
        position: absolute;
        width: 60%;
        border-top: 40px solid #043864;
        top: -40px;
    }
    .row {
        .col-md-4 {
            margin-bottom: 20px;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .txt-cont {
            background: #fff;
            padding: 20px;
            min-height: 125px;
            p {
                font-family: $l-font;
                &:last-child {
                    margin-bottom: 0px;
                    font-size: 14px;
                }
            }
            .text-orange {
                font-family: $r-font;
                text-transform: uppercase;
            }
        }
    }
}