.orange-btn {
    background: #e27c00;
    color: #fff;
    padding: 20px 40px;
    border-radius: 0;
    text-transform: uppercase;
    font-family: $r-font;
    border: 0px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}