// All Button styles go below

.orange-btn {
    background: $orange;
    color: #fff;
    padding: 15px 40px;
    border-radius: 0;
    text-transform: uppercase;
    font-family: $b-font;
    border: 0px;
    cursor: pointer;
}
.orange-btn-outline {
    background: transparent;
    color: $orange;
    padding: 15px 40px;
    border-radius: 0;
    text-transform: uppercase;
    font-family: $b-font;
    border: 2px solid $orange;
    cursor: pointer;
}

.blue-btn {
    background: $blue;
    color: #fff;
    padding: 15px 40px;
    border-radius: 0;
    text-transform: uppercase;
    font-family: $b-font;
    border: 0px;
    cursor: pointer;
}
.blue-btn-outline {
    background: transparent;
    color: $blue;
    padding: 15px 40px;
    border-radius: 0;
    text-transform: uppercase;
    font-family: $b-font;
    border: 2px solid $blue;
    cursor: pointer;
}