// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

// Quick Contact form
.ct-form {
    position: fixed;
    right: 40px;
    bottom: 25px;
    padding: 20px;
    background: #fff;
    width: 300px;
    padding: 20px;
    box-shadow: 1px 1px 10px #dadada;
    font-family: $r-font;
    z-index: 99;
    h4 {
        text-align: center;
        text-transform: none;
        color: $blue;
        margin-bottom: 20px;
    }
    input{
        margin-bottom: 10px;
        width: 100%;
        background: #f9f9f9;
        border: none;
        padding: 10px;
    }
    textarea {
        width: 100%;
        max-height: 150px;
        min-height: 100px;
        background: #f9f9f9;
        border: none;
        padding: 10px;
        margin-bottom: 10px;
    }
    .orange-btn {
        padding: 10px 40px;
        width: 100%;
    }
    .close-icn {
        position: absolute;
        top: 5px;
        right: 10px;
        text-transform: uppercase;
        color: #bcbcbc;
        cursor: pointer;
        font-family: Arial, sans-serif;
    }
}
.mail-icn {
    position: fixed;
    right: 100px;
    bottom: 25px;
    cursor: pointer;
    img {
        width: 50px;
        box-shadow: 0px 0px 10px #dadada;
    }
}